<div class="toolLaterale">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">


    <mat-card>
      <mat-card-header>
        <mat-card-title>Griglia</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field apparence="fill" floatLabel="always" fxFlex="80px">
            <input matInput placeholder="Righe" [(ngModel)]=numeroRighe type="number">
          </mat-form-field>
          <mat-form-field apparence="fill" floatLabel="always"  fxFlex="80px">
            <input matInput placeholder="Colonne" [(ngModel)]=numeroColonne type="number">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-form-field apparence="fill" floatLabel="always" fxFlex="80px">
            <input matInput placeholder="Spazio" [(ngModel)]=padding class="right" type="number" step="0.1">
            <span matSuffix>&nbsp;Cm</span>
          </mat-form-field>
          <mat-form-field apparence="fill" floatLabel="always" fxFlex="100px">
            <input matInput placeholder="Numero elementi" class="right" [(ngModel)]=numeroElementi  type="number">            
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button fxFlex mat-icon-button (click)="pdf.saveAs('ProvaStampa.pdf')">
            <mat-icon>picture_as_pdf</mat-icon> Genera PDF
          </button>
          <button fxFlex mat-icon-button (click)="GeneraPDFChrome()">
            <mat-icon>picture_as_pdf</mat-icon> Genera PDF Chrome
          </button>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-header>
        <mat-card-title>Margini</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field apparence="fill" floatLabel="always" fxFlex="60px">
            <input matInput placeholder="Alto" [(ngModel)]=margineAlto class="right" type="number" step="0.1">
            <span matSuffix>&nbsp;Cm</span>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="70px">
          <mat-form-field apparence="fill" floatLabel="always" fxFlex="60px">
            <input matInput placeholder="Sinistra" [(ngModel)]=margineSinistra class="right" type="number" step="0.1">
            <span matSuffix>&nbsp;Cm</span>
          </mat-form-field>
          <mat-form-field apparence="fill" floatLabel="always" fxFlex="60px">
            <input matInput placeholder="Destra" [(ngModel)]=margineDestra class="right" type="number" step="0.1">
            <span matSuffix>&nbsp;Cm</span>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field apparence="fill" floatLabel="always" fxFlex="60px">
            <input matInput placeholder="Basso" [(ngModel)]=margineBasso class="right" type="number" step="0.1">
            <span matSuffix>&nbsp;Cm</span>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>





<kendo-pdf-export #pdf paperSize="A4" forcePageBreak=".page-break">
  <!-- <ng-template kendoPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages" >
    <div style="position: absolute; background-color: lightgray; bottom: 0cm;"
      [style.right]="'1cm'" [style.height]="margineBasso+'cm'" 
      [style.width]="'calc(100%-'+margineDestra+'cm-'+margineSinistra+'cm)'">
      Pagina {{ pageNum }} di {{ totalPages }}
    </div>
  </ng-template> -->
  



<div class="a4" *ngFor="let page of numeroPagine();let pag = index" [class.page-break]="pag!=0"
[style.padding-top]="margineAlto+'cm'" [style.padding-bottom]="margineBasso+'cm'"
[style.padding-left]="margineSinistra+'cm'" [style.padding-right]="margineDestra+'cm'">
  
  

    <div [gdColumns]="'repeat('+numeroColonne+',1fr)'" [style.grid-template-rows]="'repeat('+numeroRighe+',1fr)'"
      gdGap="{{padding}}cm" style="height: 100%;">
      <div gdAlignColumns="stretch stretch" *ngFor="let item of elementi(pag+1);let i=index" class="celleGriglia">
        <div fxLayout="column" fxLayoutAlign="start stretch">
          <div class="celleHeaderGriglia">N.{{i+1+pag*numeroRighe*numeroColonne}} Documento</div>
         
          <div fxLayout="row" fxLayoutAlign="center center" 
            style="height: 100%; padding: 10px; background-repeat: no-repeat; margin: 2mm; background-size: contain;"
            [style.backgroundImage]="'url(https://picsum.photos/id/'+(i+20+pag*numeroRighe*numeroColonne)+'/800/600.webp)'"
          
          >
            <!-- <img  [src]="'https://picsum.photos/id/'+(i+20+pag*numeroRighe*numeroColonne)+'/800/600.webp'" alt="" class="responsiveImage"> -->
          </div>
          
        </div>
          

      </div>
    </div>

  

</div>
</kendo-pdf-export>